# Build output
dist
out
build
target
.next
/ui/.next
secrets.yml
.vscode
secrets.*
.deployment
.mesh

# Dependencies
node_modules
package-lock.json

# Logs & pids
*.log
pids

# Test output
test/**/out*
test/**/next-env.d.ts
.DS_Store
test/tmp/**
test/traces

# Editors
**/.idea
**/.#*
.nvmrc

# Vercel
.vercel
.now

# Cache
*.tsbuildinfo
.eslintcache

# Other
.env
.env.local
.env*

config/envs/generated-k8s.yml
secret.*
test*
config/envs/external-secrets
envs.yaml
secret