# Build output
dist
out
build
target

# Dependencies
node_modules

# Logs & pids
*.log
pids

# Tests
test/**
*.test.*

# Editors
**/.idea
.vscode

# Cache
*.tsbuildinfo
.eslintcache

# Envs
.env*

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc

# Parcel
.parcel-cache

# Misc
_*
.DS_Store