# Build output
dist
out
build
target
.next
.mesh

# Dependencies
node_modules
package-lock.json

# Logs & pids
*.log
pids

# Test output
test/**/out*
test/**/next-env.d.ts
.DS_Store
test/tmp/**
test/traces

# Editors
**/.idea
**/.#*
.nvmrc

# Vercel
.vercel
.now

# Cache
*.tsbuildinfo
.eslintcache

# Other
.husky
.env
.env.local