@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Add Inter font-family and size variations */
  --font-family-inter: 'Inter', sans-serif;
  --font-size-1: 0.625rem;
  /* 10px */
  --font-size-2: 0.75rem;
  /* 12px */
  --font-size-3: 0.875rem;
  /* 14px */
  --font-size-4: 1rem;
  /* 16px */
  --font-size-5: 1.125rem;
  /* 18px */
  --font-size-6: 1.25rem;
  /* 20px */
  --font-size-7: 1.375rem;
  /* 22px */
  --font-size-8: 1.5rem;
  /* 24px */
  --font-size-9: 1.625rem;
  /* 26px */
  --font-size-10: 1.75rem;
  /* 28px */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
  font-family: var(--font-family-inter);
}

#spotlight_wrapper {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  width: 100%;
}

#spotlight {
  display: block;
  width: 628px;
  height: 56px;
  margin: auto;
  border-radius: 5px;
  appearance: none;
  box-shadow: (0 25px 60px 10px rgba(0, 0, 0, 0.3));
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  font-size: 1.6rem;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  color: #000;
  background-color: #f8f5f4;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjIuNyAyMi41IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMi43IDIyLjUiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxjaXJjbGUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2NzY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgY3g9IjguMSIgY3k9IjguNCIgcj0iNi44Ii8+PGxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2NzY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgeDE9IjEzLjIiIHkxPSIxMi45IiB4Mj0iMjEuNSIgeTI9IjIxLjQiLz48L3N2Zz4=);
  background-position: left 17px center;
  background-repeat: no-repeat;
  background-size: 3.5%;
  padding: 0 52px;
}

#desc {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 0 40%;
  box-sizing: border-box;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #666666;
}
