@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Add Inter font-family and size variations */
  --font-family-inter: 'Inter', sans-serif;
  --font-size-1: 0.625rem;
  /* 10px */
  --font-size-2: 0.75rem;
  /* 12px */
  --font-size-3: 0.875rem;
  /* 14px */
  --font-size-4: 1rem;
  /* 16px */
  --font-size-5: 1.125rem;
  /* 18px */
  --font-size-6: 1.25rem;
  /* 20px */
  --font-size-7: 1.375rem;
  /* 22px */
  --font-size-8: 1.5rem;
  /* 24px */
  --font-size-9: 1.625rem;
  /* 26px */
  --font-size-10: 1.75rem;
  /* 28px */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
  font-family: var(--font-family-inter);
}

#spotlight_wrapper {
  @apply fixed flex h-screen w-screen items-start justify-center;
}

#spotlight {
  @apply mt-28 block h-14 w-96 appearance-none rounded-3xl bg-neutral-600 bg-left-bottom bg-no-repeat p-5 text-white outline-none;
  box-shadow: 0 25px 60px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
}
